export(automatic.type.conversion)
export(copy.into.env)
export(currentenv)
export(get.coef.and.se)
export(get.stored.object.list)
export(glpk.solve)
export(gmpl.get.model.info)
export(gmpl.load.problem)
export(gmpl.make.dat.file)
export(gmpl.solve)
export(is.storing)
export(named)
export(nc)
export(nlist)
export(paste.matrix.cols)
export(plot.with.legend)
export(quick.by)
export(quick.df)
export(remove.global.variables)
export(restore.objects)
export(restore.point)
export(restore.point.options)
export(run.scenarios)
export(set.storing)
export(simulation.study)
export(skMotionChart)
export(store.objects)
export(subst.expr)
export(view.stata.var)
export(with.random.seed)
